.calendar {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    align-items: stretch;

    &-left,
    &-main,
    &-right {
      display: flex;
      align-items: center;
    }

    &-left,
    &-right {
      width: 20%;
    }

    &-left:hover,
    &-right:hover {
      cursor: pointer;
    }

    &-right {
      justify-content: flex-end;
    }

    &-main {
      flex-direction: column;
    }
  }

  &__main {
    thead {
      background-color: #e0e0e0;
      border: 0 !important;
      th {
        color: #757575 !important;
        border: 0 !important;
        text-align: center !important;
      }
    }
    tbody {
      background-color: #eeeeee;
    }
    tr,
    th {
      border: 0 !important;
    }
    td {
      text-align: center !important;
    }
    td:hover {
      cursor: pointer;
    }
    td:hover {
      background-color: #e0e0e0 !important;
    }
    .date-muted {
      color: #bdbdbd;
    }
    .date-current {
      background-color: #00bfa5 !important;
    }
  }

  &__popover {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  &__notes {
    li {
      text-align: left;
    }
  }
}
